    <h3 class="text-center">Snake vs Mongoose</h3>
<div class="container" id="gamePage">
    <p id="gameBoard">
    <img src="/img/apple.png">
    </p>
    <h3 style="width:700px; align: center">
    <span style="float:left;">⏰ <span id="clock">30</span></span>
    <span style="float:right;">
    <span style="color:#f3a065">🆚 {{opponentName}}</span></span>
    </h3>
    <p style="clear:both; width:700px"><br>This is an <em>asynchronous multiplayer game</em>.
    <br/><br/>Use the arrow keys to move the <span style="color:#c69bf7">snake</span>. Collect as many 🍎 apples as possible and don't crash into anything. The <span style="color:#f3a065">mongoose</span>'s moves are based on ghost data from a previous player.
    <br/><br/><em><strong>Survive for ⏰ 30 seconds to win!</strong></em>
    <br/><br/><em>Code by <a href="https://github.com/BradOFarrell">Brad O'Farrell</a>, art by <a href="https://twitter.com/vondellswain">Vondell Swain</a>.</em></p>
</div>

<div class="container" style="width:700px; background: #19440A; visibility:hidden; text-align: center; margin-left: auto; margin-right: auto;" id="resultsPage">
    <h1 id="resultsMessage">Congratulations!</h1>
    <br/>
    You survived ⏰ 30 seconds!
    <br/><br/>
    Enter your username and submit your results to the server:
    <br/><br/>
    <p id="postform">
    <form action="/" method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
        <table style="width:600px; text-align: left; margin-left: auto; margin-right: auto;">
            <tr><td>
                <label for="username">Username</label>
            </td><td>
                <input type="text" name="username" id="usernameBox" placeholder="YourNameHere"><br/></br/>
            </td></tr>

            <tr><td>
                <label for="log">Log</label>
            </td><td>
                <input type="text" name="myLog" id="myLog" value="" readonly>
            </td></tr>

            <tr><td>
                <label for="myScore">My Score</label>
            </td><td>
                <input type="number" name="myScore" id="myScore" value="" readonly>
            </td></tr>

            <tr><td>
                <label for="opponentName">Opponent Name</label>
            </td><td>
                <input type="text" name="opponentName" id="opponentName" value="{{opponentName}}" readonly>
            </td></tr>

            <tr><td>
                <label for="opponentScore">Opponent Score</label>
            </td><td>
                <input type="number" name="opponentScore" id="opponentScore" value="" readonly>
            </td></tr>

            <tr><td style="text-align: center; margin-left: auto; margin-right: auto;" colspan="2"><br/>
                <button type="submit">Submit</button>
            </td></tr>
        </table>
    </form>
    </p>
</div>
<script>
// Turn backend data into variables that can be used by snake.js using handlebars
const opponentName = "{{opponentName}}";
const mongoosePath = "{{mongoosePath}}";
//const results = [{{results}}];
</script>
<script src="/js/snake.js"></script>