    <h3 class="text-center">Snake vs Mongoose</h3>
<div class="container" id="gamePage">
    <p id="gameBoard">
    <img src="/img/apple.png">
    </p>
    <h3 style="width:700px; align: center">
    <span style="float:left;">⏰ <span id="clock">30</span></span>
    <span style="float:right;">
    <span style="color:#b26dff">You</span>
    vs
    <span style="color:#f3a065">{{opponentName}}</span></span>
    </h3>
    <p style="clear:both"><br>This is an asynchronous multiplayer game. You control the snake with the arrow keys and the mongoose is controlled by ghost data left by another player - in this case, your opponent is {{opponentName}}. Try to get as many apples as you can while avoiding crashing into yourself, the mongoose, or the borders of the stage. If you can survive for 30 seconds, you will be able to enter your name and submit your data so that it can appear in another player's game as a mongoose. </p>
</div>

<div class="container" style="width:700px; background: #19440A; visibility:hidden;" id="resultsPage">
    <h1 id="resultsMessage">Congratulations!</h1>
    </br>
    Enter your username, and then click submit to send your results to the server.
    <p id="postform">
    <form action="/" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" value="YourNameHere">
        </br>
        <label for="log">Log</label>
        <input type="text" name="myLog" id="myLog" value="" readonly>
        </br>
        <label for="myScore">My Score</label>
        <input type="number" name="myScore" id="myScore" value="" readonly>
        </br>
        <label for="opponentName">Opponent Name</label>
        <input type="text" name="opponentName" id="opponentName" value="{{opponentName}}" readonly>
        </br>
        <label for="opponentScore">Opponent Score</label>
        <input type="number" name="opponentScore" id="opponentScore" value="" readonly>
        </br>
        <button type="submit" onClick="setTimeout(window.location.reload.bind(window.location), 1000)">Create</button>
    </form>
    </p>
    </br>
    Other results from the same oppoonent. (Under Construction)
    <pre>{{results}}</pre>
</div>
<script>
// Turn backend data into variables that can be used by snake.js using handlebars
const opponentName = "{{opponentName}}";
const mongoosePath = "{{mongoosePath}}";
//const results = [{{results}}];
</script>
<script src="/js/snake.js"></script>